<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>
        {% block title_block %}
        Topic - your home for all learning tools!
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'styles/default.css' %}">
    {% block stylesheets %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

    {% block banner_block %}{% endblock %}

    {% if body_class == "login-page" or body_class == "register-page" %}
    <img src="{% static 'images/topic_logo.png' %}" class="topic-logo" alt="Topic Logo">
    {% endif %}

    <main>
        {% block base_body_block %}{% endblock %}
    </main>
    {% block scripts %}{% endblock %}
</body>
</html>
